html, body {
    height: 100%;
    background-color: #3879b9;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

button {
    padding: 10px 20px;
}

.rc-time-picker-panel {
    color: black
}